@using Library.Models;
@using LibraryData;
@model HomeModel
           <table class="table table-responsive table-bordered table-condensed table-striped">
               <tr>
                   <th>Title</th>
                   <th>Author</th>
                   <th>Subjects</th>
               </tr>
               @foreach(Book book in Model.Books)
               {
                   <tr>
                       <td> <a href="/home/books?bookId=@book.Id" >@book.Name</a></td>
                       <td><a href="/home/authors?authorId=@book.AuthorId">@book.Author</a></td>
                       <td></td>
                   </tr>
               }
           </table>
