<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryData.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=YS\SQLEXPRESS1;Initial Catalog=Library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>