<div class="container">
    <form class="form-group" method="post" action="/Admin/adminSignin">
        <label>FirstName</label>
        <input type="text" name="firstName" />
        <label>LastName</label>
        <input type="text" name="lastName" />
        <label>Password</label>
        <input type="text" name="password" />
        <button type="submit" class="button btn-success ">Submit</button>
    </form>

</div>
